<h2>Menüplan</h2>
<fa name="trash-alt" size="3x" style="color: black">

<div *ngIf="menuplanService.selectedRecipes.length">
  <div>
    <div *ngFor='let recipe of menuplanService.selectedRecipes; let i = index'>
	  <h6>{{recipe.name}}</h6>
	  <a routerLink="/detail/{{recipe.id}}">
	    <div class="recipeListImageContainer" [style]="getBackgroundImage(recipe)"></div>
	  </a><!---->
	  <fa *ngFor='let user of recipe.userMenuplan'
	    name="user-circle" size="3x"
		[ngStyle]="{'color': user.isEatingMeal ? 'blue' : 'grey'}"
		(click)="user.switchEatMeal()"></fa>
	  <button type="button" class="btn btn-danger" (click)="menuplanService.delete(i)"><fa name="minus" style="color: white"></fa></button>
	  <br>
	  <br>
	  </div>
    
  </div>
  <button type="button" class="btn btn-danger" (click)="menuplanService.clear()">Menüplan löschen</button>
</div>
