<h2>Rezepte</h2>

<div class="row">
  <div class="col-lg-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Rezeptsuche ...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
<br>
<br>
<div class="recipes">
  <div *ngFor="let recipe of recipes" (click)="onSelect(recipe)">
    <h4>{{recipe.name}}</h4>
	<a routerLink="/detail/{{recipe.id}}">
	  <div class="recipeListImageContainer" [style]="getBackgroundImage(recipe)"></div>
	</a>
	<br>
	<button type="button" class="btn btn-primary">+Menüplan</button>
	<br><br>
  </div>
</div>